{%extends "layout.html"%}


{%block body%}

<div class="row">
    <div class="col-md-10 offset-md-3">
        <div class="col-lg-8">
        <h1>Articles</h1>
        <hr>
        </div>
    </div>

</div>
{%if articles%}

{% for article in articles %}
<div class="row">
    <div class="col-md-10 offset-md-3">
    <div class="col-lg-8">
        <!-- Post content-->
           <a href="/articles/article/{{article.id}}"><h2>{{article.title}}</h2></a>
            <p class="lead">by
                {{article.author.username}}</p> 
            <hr>
            <p>{{article.created_date}}</p>
            <hr>

            {%if article.article_image%}
            <!-- Preview image figure-->
            <figure class="mb-4"><img class="img-fluid rounded" src="{{article.article_image.url}}" alt="..."></figure>
            {%endif%}
            <!-- Post content-->
            <p>
                {{article.content|safe|truncatewords:10}}
            </p>
            <a href="/articles/article/{{article.id}}" class="btn btn-danger" style="float: right">Read More</a>
            <br>
    </div>
</div>
</div>

{% endfor %}

{% else %}
<div class="alert alert-danger">
    No articles in this blog.
</div>
{% endif %}
{%endblock body%}