{% extends "layout.html" %}

{% block body %}

<div class="row">
    <div class="col-lg-8">
        <!-- Post content-->
            <h3>{{article.title}}</h3>
            <p class="lead">by
                {{article.author.username}}</p> 
            <hr>
            <p>{{article.created_date}}</p>
            <hr>

            {%if article.article_image%}
            <!-- Preview image figure-->
            <figure class="mb-4"><img class="img-fluid rounded" src="{{article.article_image.url}}" alt="..."></figure>
            {%endif%}
            <!-- Post content-->
            <p>
                {{article.content|safe}}
            </p>
    </div>
</div>
<div class="card-body">
    <h5 class="card-header">Leave a comment</h5>
    <!-- Comment form-->
    <form class="mb-4" action="{% url 'article:comment' article.id %}" method="post">
        {%csrf_token%}
        <div class="form-group">
            <input name="comment_author" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name">
        </div>
        <div class="form-group">
            <textarea name="comment_content" class="form-control" rows="3" placeholder="Comment"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
    <!-- Comment with nested comments-->
    <div class="d-flex mb-4">
    </div>
</div>


{% endblock body %}